.categoriesContainer {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
}

.simplpeCategory{
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  font-size: 14px;
  padding: 4% 2%;
}

.simplpeCategory:hover{
  background-color: #4CAF50; /* Green */
  color: white;
}

