.mySearch {
  background-color: rgba(0, 0, 0, 0.76); /* Green */
  border: rgb(0, 212, 219);
  color: rgb(0, 212, 219);
  padding: 10px 136px;
  text-align: left;
  text-decoration: rgb(111, 71, 255);
  display: webkit;
  font-size: 16px;
}
